In [29]:
import pandas as pd
import psycopg
from dotenv import load_dotenv
import os

load_dotenv()

True

In [60]:
dbconn = os.getenv("DBCONN")
conn = psycopg.connect(dbconn)
cur = conn.cursor()

In [43]:
cur.execute('''
  SELECT * FROM financial_times_scaped;
''')
data = cur.fetchall()
ft_data = pd.DataFrame(data, columns=["tag", "link", "heading", "teaser", "date"])
ft_data.head()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [32]:
from datetime import datetime, timedelta

yesterday = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')
print(yesterday)
ft_data[ft_data["date"].dt.strftime('%Y-%m-%d') == yesterday]

2025-01-23

,tag,link,heading,teaser,date
1780,Cryptocurrencies,https://www.ft.com/content/09ff42ca-925d-49f3-...,Crypto executive freed after kidnap in France,Assailants demanded large ransom after abducti...,2025-01-23
1781,Rene Benko,https://www.ft.com/content/361b3461-a621-4b99-...,Property tycoon René Benko arrested in Austria,Signa founder taken into custody more than a y...,2025-01-23
1782,Asia-Pacific economy,https://www.ft.com/content/05cf69f5-0105-482d-...,FirstFT: Japanese megabanks hit valuation land...,"Also in today’s newsletter, a record number of...",2025-01-23
1783,Unhedged Podcast,https://www.ft.com/content/90a0c321-3cb1-412c-...,Decoding Trumponomics,Investors are trying to figure out an unusual ...,2025-01-23
1784,Japanese business & finance,https://www.ft.com/content/03434d53-f6b6-4db6-...,Japan’s biggest banks hit valuation landmark a...,Largest lenders now trade at or close to their...,2025-01-23

In [33]:
ft_data["date"] = ft_data["date"].dt.strftime('%Y-%m-%d')
ft_data.head()

,tag,link,heading,teaser,date
0,Inauguration live: Donald Trump to stop short ...,/content/a6ced7bd-3942-4ab9-a8c1-9e19e0809153#...,Bitcoin surges to new high in Trump rally,The price of bitcoin surged to a new all-time ...,2025-01-20
1,Technology sector,https://www.ft.com/content/5acb33a2-4690-4f56-...,Quantum Blockchain mines bitcoin with AI and w...,Paging the AI Oracle,2025-01-20
2,eToro Europe Ltd,https://www.ft.com/content/d438376f-a6a3-4c94-...,IPO hopeful eToro grabs market bull by the horns,Israel-based company seeks to take advantage o...,2025-01-20
3,Cryptocurrencies,https://www.ft.com/content/d9e383a5-b13c-47bf-...,What’s the value of Trump’s new memecoin?,Crypto-offerings from the president and his fa...,2025-01-20
4,Transcript,https://www.ft.com/content/aa8b6d70-297f-47a1-...,Transcript: Trump returns to the White House,Kasia Broussalian talks to Will Schmitt and Mi...,2025-01-20

In [58]:
from datetime import datetime as dt

last_week = (dt.today() - timedelta(days=7))
last_week

datetime.datetime(2025, 1, 17, 14, 20, 52, 268133)

In [61]:
test = '2025-01-17'

cur.execute('''
    SELECT * FROM financial_times_scaped WHERE date > LOCALTIMESTAMP - INTERVAL '14 days';
  ''')

In [59]:
cur.close()
conn.close()

In [ ]:
cur.execute('''
  SELECT * FROM bitcoin_api_data;
''')
data = cur.fetchall()
av_data = pd.DataFrame(data, columns=["date", "open", "high", "low", "close", "volume"])
av_data